
      .coinText
      {
          font-size: 30px;
          margin-left: -10px;
      }
      .coinLogo
      {
         margin-top: -1em;
         width: auto;
         height: 30px;
      }
      .marginFix{
              margin: 50px 15px 10px;
          }
      .lengthen{
          height: 4em;
      }
      .btn-color-blue
      {
          background-color: #245ec7 !important;
      }
      .btn-colored-blue
      {
          background-color: #1b1b5c;
          color: white;
      }
      .btn-colored-blue:hover
      {
          color: white;
          background-color: #030349;
      }
      .centerSuccess
      {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      .frame
      {
          height: 80%;
          overflow: auto;
      }
      @media (min-width:600px){
        
          .coinText
          {
              font-size: 50px;
          }
          .coinLogo
          {
          margin-top: -2em;
          height: 50px;
          }
          .widthInp
          {
              width: 50% !important;
          }
          .marginFix{
              margin: 3em 10em 10em;
          }
          .lengthen{
              font-size: 25px !important;
          }
          p{
              font-size: 25px !important;
          }
      }
      @media (min-width:1264px) {
        .padIssue
        {
            padding: 50px 150px 20px !important;
        }
        .marginFix{
            margin: 3em 15em 10em;
        }
      }
      
      /* body {
          background-image: url('./bg2.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
      } */
      body{
        height: 200px;
        background-color: black; /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, rgb(0, 0, 0) , #1b1d48);
      }
      .letter
      {
        background-image: linear-gradient(to left, #d48084, #b2528a, #cf5fd0);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        /* color:#d48084 !important */
      }
      /* .colorborder
      {
          border-color: #d48084;
          background-color: transparent !important;
          border-radius: 50px 50px 50px 50px;
      } */
      .colorborder2
      {
          color: white !important;
          border-color: #d48084;
          background-color: transparent !important;
          border-radius: 40px 40px 40px 40px;
      }
      .color
      {
          background-color: #292d44;
      }