
        .lds-spinner {
          color: official;
          position: absolute;
          left: 40%;
          top: 30%;
          z-index: 1;
          width: 80px;
          height: 80px;
      }
      .lds-spinner div {
          transform-origin: 40px 40px;
          animation: lds-spinner 1.2s linear infinite;
      }
      .lds-spinner div:after {
          content: " ";
          display: block;
          position: absolute;
          top: 3px;
          left: 37px;
          width: 6px;
          height: 18px;
          border-radius: 20%;
          background: #fff;
      }
      .lds-spinner div:nth-child(1) {
          transform: rotate(0deg);
          animation-delay: -1.1s;
      }
      .lds-spinner div:nth-child(2) {
          transform: rotate(30deg);
          animation-delay: -1s;
      }
      .lds-spinner div:nth-child(3) {
          transform: rotate(60deg);
          animation-delay: -0.9s;
      }
      .lds-spinner div:nth-child(4) {
          transform: rotate(90deg);
          animation-delay: -0.8s;
      }
      .lds-spinner div:nth-child(5) {
          transform: rotate(120deg);
          animation-delay: -0.7s;
      }
      .lds-spinner div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.6s;
      }
      .lds-spinner div:nth-child(7) {
          transform: rotate(180deg);
          animation-delay: -0.5s;
      }
      .lds-spinner div:nth-child(8) {
          transform: rotate(210deg);
          animation-delay: -0.4s;
      }
      .lds-spinner div:nth-child(9) {
          transform: rotate(240deg);
          animation-delay: -0.3s;
      }
      .lds-spinner div:nth-child(10) {
          transform: rotate(270deg);
          animation-delay: -0.2s;
      }
      .lds-spinner div:nth-child(11) {
          transform: rotate(300deg);
          animation-delay: -0.1s;
      }
      .lds-spinner div:nth-child(12) {
          transform: rotate(330deg);
          animation-delay: 0s;
      }
      @keyframes lds-spinner {
          0% {
              opacity: 1;
          }
          100% {
              opacity: 0;
          }
      }
      .coinText
      {
          font-size: 30px;
          margin-left: -10px;
      }
      .coinLogo
      {
         margin-top: -1em;
         width: auto;
         height: 30px;
      }
      .marginFix{
              margin: 50px 15px 10px;
          }
      .lengthen{
          height: 4em;
      }
      .btn-color-blue
      {
          background-color: #245ec7 !important;
      }
      .btn-colored-blue
      {
          background-color: #1b1b5c;
          color: white;
      }
      .btn-colored-blue:hover
      {
          color: white;
          background-color: #030349;
      }
      .loader 
      {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 1;
          width: 120px;
          height: 120px;
          margin: -76px 0 0 -76px;
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #3498db;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
      }

      @keyframes spin 
      {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }
      .centerSuccess
      {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      .frame
      {
          height: 80%;
          overflow: auto;
      }
      @media (min-width:600px){
          .padIssue
          {
              padding: 50px 150px 20px !important;
          }
          .lds-spinner
          {
              left: 45%;
              top: 40%;
          }
          .coinText
          {
              font-size: 50px;
          }
          .coinLogo
          {
          margin-top: -2em;
          height: 50px;
          }
          .widthInp
          {
              width: 50% !important;
          }
          .marginFix{
              margin: 3em 15em 10em;
          }
          .lengthen{
              font-size: 25px !important;
          }
          p{
              font-size: 25px !important;
          }
      }
      
      /* body {
          background-image: url('./bg2.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
      } */